body {
    background: #fff;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo-img {
    margin-bottom: 20px;
    max-width: 100px;
    max-height: 100px;
}
.main-div {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 30px 1px rgb(49, 49, 49);
}
img {
    width: 400px;
}
p {
    text-align: justify;
    padding: 20px;
    width: 300px;
    font-family: 'Roboto', serif;
    font-size: 1.2em;
}