body {
  background-color: #2d2d2d;
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
}
body .inner {
  position: relative;
  width: 600px;
  height: 450px;
}
body .inner svg {
  position: absolute;
  z-index: 1;
}
body .inner .greeting {
  width: 600px;
  margin: auto;
}
body .inner .greeting svg.newyear2 {
  width: 50%;
  margin: auto;
  height: 90px;
  top: 39%;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 680px) {
  body .inner .greeting svg.newyear2 {
    width: 100%;
    height: 158px;
    top: 225px;
  }
}
body .inner .greeting svg.newyear2 .anim2 {
  fill: none;
  stroke: #c5ba9a;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 10px;
  stroke-dasharray: 726.2219848633;
  stroke-dashoffset: 726.2219848633;
  -webkit-animation: draw 1.2s linear 3.2s forwards;
          animation: draw 1.2s linear 3.2s forwards;
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}