html {

}

.root-container {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo-img {
    margin-bottom: 20px;
    max-width: 100px;
    max-height: 100px;
}

.nav-bar {
    margin: 0 auto;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    font-size: 1.2em
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
}

.nav-menu li {
    padding: 5px;
    transition: transform 1s;  
}

.nav-menu li:hover {
    transform: scale(125%);
    border-bottom: 1px solid black;
}

.menu-heading {
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 0.75em;
    word-spacing: 1.5em;
    padding: 20px 40px;
}
.published-list {
    margin: 30px 100px ;
}
.article-div {
	box-shadow: 0 15px 30px 1px rgb(128, 128, 128);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 50px;
    display: flex; 
    cursor: pointer;
    transition: transform 1s;  
}

.article-div:hover {
    transform: scale(110%);
}

.article-image{
    margin: 25px;
    flex: 20%;
    display: flex;
}

.article-img {
    border-radius: 5px;
    box-shadow: 0 15px 30px 1px rgb(128, 128, 128);
    width: 100%;
    height: auto;
}

.article-content {
    padding-left: 10px;
    padding-right: 10px;
    flex: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-headline{ 
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.article-subtitle{
    font-family: 'Archivo', serif;
    font-size: 1.125em;
}

.article-read-more{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: right;
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .nav-bar{
        width: 100%;
        font-size: 1em
    }

    .published-list {
        margin: 15px 50px ;
    }

    .article-headline { 
        font-size: 2em;
    }
    .article-subtitle {
        font-size: 1em;
    }

    .menu-heading {
        font-size: 1.5em;
        letter-spacing: 0.5em;
        word-spacing: 1.0em;
    }
}

@media (max-width: 800px) {
    
    .article-image{
        display: none;
    }
}

footer {
    background-color: lavenderblush;
    text-align: end;
}